<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

  <display-name>Irion Fansite</display-name>

  <!-- Root Spring Container -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:spring/root-context.xml</param-value>
  </context-param>

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <!-- Character Encoding Filter (한글 처리) -->
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- Static Resource Encoding Filter (이모티콘 지원) -->
  <filter>
    <filter-name>staticResourceEncodingFilter</filter-name>
    <filter-class>com.irion.common.filter.StaticResourceEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>staticResourceEncodingFilter</filter-name>
    <url-pattern>/resources/*</url-pattern>
  </filter-mapping>

  <!-- Spring MVC DispatcherServlet -->
  <servlet>
    <servlet-name>dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring/servlet-context.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <!-- Session Config (30분) -->
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>

  <!-- Error Pages -->
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/views/common/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/views/common/500.jsp</location>
  </error-page>

  <filter>
    <filter-name>adminLoginFilter</filter-name>
    <filter-class>com.irion.common.filter.AdminLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>adminLoginFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>

</web-app>